<div class="form-group" data-hook="sale_price">
  <%= f.label :sale_price, Spree.t(:sale_price) %>
  <%= f.text_field :sale_price, :value => number_to_currency(@variant.sale_price, :unit => ''), :class => 'form-control' %>
</div>
